$PrimaryColor: #351978;
$LightPurple: #b7aacc;
$LightGreen: #b0decb;
$Yellow: #ffeb6a;
$HitGray: #99a9ad;
$Daintree: #02272B;
$Procelain: #E9EDED;
$LightWhite: #F5F5F5;
$DarkGrey: #767676;
$DarkGrey2: #454545;
$lightGreyBorder: #ddd;
$lightGreyBg: #fafafa;
$white: #ffffff;
$black: #000000;